.key {
  transition: box-shadow 0.2s ease;
  border: 1px solid #c7c7c7;
  width: 54px;
  height: 54px;
  position: absolute;
  border-radius: 9.2592592593%;
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
  text-align: center;
}

.keytop {
  background-color: #fcfcfc;
  border: solid 1px rgba(255,255,255,0.15);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 8px;
  cursor: pointer;
}

.keytop>div {
  font-weight: bold;
  color: #666;
}
