.keybox {
  position: absolute;
  padding: 2px;
}

.key {
  transition: box-shadow 0.2s ease;
  border: 1px solid hsl(0, 0%, 78%);
  height: 48px;
  border-radius: 3px;
  background-color: #f4f4f4;
  text-align: center;
}

.keytop {
  border: solid 1px rgba(255,255,255,0.15);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 12px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 8px;
  cursor: pointer;
}

.keytop>div {
  /* font-weight: bold; */
  color: #666;
}
